/* QUERIES FOR PROJECT PAGE! */



body{
    width: 95%;
    margin: 0%;
}

 @media only screen  and (min-width : 300px){

    header{
        width: 95%;
        margin-left: 2.5%;
    }
    h1{
        font-size: 2.5em;
        color: yellow;
    }
    h2{
        font-size: 2.2em;
        margin-top: 0em;
    }
    nav{
        display: flex;
        height: 10em;
        padding-right: 0.49em;
    }
    .downer{
        opacity: 0.9;
        height: 1em;
        width: 100%;
        margin-top: 0.1em;
        padding: 0.2em;
    }
    .downer a{
        opacity: 0.45;
        color: var(--icon);
        font-size: 0.65em;
        margin-right: 0.4em;
    }
    #downMenu{
        display: flex;
        flex-direction: column;
        background-color: white;
        color: black;
        grid-column: 4/ span 3;
        opacity: 0.9;
        height: 0em;
    }
    #downMenuText{
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;
    }
    #downMenuText a{
        text-align: left;
        height: 0;
        opacity: 0;
        margin-top: 0;
    }
    #regular{
        display: none;
    }
    #downMenuText{
        font-size: 0.75em;
    }
    #project{
        width: 93%;
    }
    article figcaption p{
        font-size: 1.25em;
    }

    article:first-child {
        margin-top: 0%;
    }
    article:nth-last-child(2){
    }
    article:last-child{
        margin-bottom: 10em;;
    }
    article{
        width: 100%;
        height: 65%;
        margin: 0;
        margin-top: 60%;
    }
    article{
       display: block;
    }
    figcaption{
        font-size:  1.25em;
        margin-top: 1.75em;
    }
}
@media only screen  and (min-width : 400px){
    h1{
        font-size: 2.5em;
        margin-left: 0.15em;
       
    }
    #project{
        width: 93%;
        align-content: center;
        margin-top: -5%;
    }
    h2{
        font-size: 1.9em;
        margin-top: 0.65em;
    }
    .downer a{
        font-size: 0.95em;
        margin-right: 0.1em;
        padding-top: 10em;
    }
}

@media only screen  and (min-width : 500px){
   
    header{
        width: 92%;

    }
    h1{
        font-size: 2.75em;
        
    }
    .fa-bars{
        margin-right: 0.75em;
    }
    .downer a{
        font-size: 0.65em;
        margin-right: 0.4em;
        padding-top: 10em;
    }
    h2{
        width: 100%;
        grid-row: 1/ span 1;
        font-size: 1.5em;
        margin-top: 0em;
        grid-column: 1/ span 6;
    }
    h2:nth-child(odd){
        grid-column: 1/ span 4;
    }
    #downMenu{
        margin-right: -1.1em;
    }
    .dDown{
        font-size: 1.25em;
    }
    nav{
        display: flex;
        height: 10em;
        padding-right: 0em;
    }
    #downMenuText{
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }
    #downMenuText a{
        margin-left: 0.2em;
        text-align: left;
        font-size: 1em;
    }
   .downer{
        grid-row: 1/ span 1;
    }
    .downer a{
        color: var(--icon);
    }
    #project{
        margin-top: 2%;
    }
    figcaption{
        font-size: 1.1em;
    }
    article{
        display: grid;
    }
    article:nth-child(even) h2{
        grid-column: 9/ span 5;
    }

}

@media only screen and (min-width: 700px){
    article{
        height: 3%;
    }
    article:first-child{
        margin-top: 2em;
    }
    h1{
        font-size: 4em;
        margin-left: 0em;
    }
    h2{
        font-size: 1.75em;
    }

    .downer a{
        font-size: 0.95em;
        margin-right: 0.2em;
    }
   
    /* #downMenuText{
        font-size: 1.5em;
        height: 3em;
        margin-bottom: 3em;
    
    } */
    
}

@media only screen and (min-width: 800px){
    body{
        width: 100%;
    }
    h1{
        font-size: 3em;
        margin-left: 0.25em;
    }
    header{
        margin: 0%;
        margin-left: 4.1em;
        width: 80%;
        text-align: center;
        margin-bottom: 2em;
    }
    #project{
        width: 80%;
        text-align: center;
    }
    article{
        height: 50%;
    }

}
@media only screen and (min-width: 900px){

    header{
        width: 95%;
        margin-left: 0%;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }

    #project{
        width: 95%;
    }
    article{
        width: 100%;
        height: 20%;
    }
    figcaption{
        font-size: 1.75em;
    }
}
@media only screen  and (min-width : 1000px) {
    article:first-child{
        margin-top: 10%;
    }
    article{
        height: 2%;
    }
    h1{
        font-size: 5em;
    }
    #regular{
        display: flex;
        grid-row: 1/ span 1;
    }
    .downer{
        display: none;
    }
}
    @media only screen  and (min-width : 1100px) {

        h1{
            font-size: 6em;
        }
        h2{
            font-size: 3.5em;
        }
        nav{
            font-size: 3em;
        }
        figcaption{
            font-size: 2.25em;
        }
        article{
            height: 10%;
        }
        article:first-child{
            margin-top: 5%;
        }
    }




