/* QUERIES FOR PROJECT PAGE! */



body{
    /* width: 95%; */
    /* width of the body affects product page transition */
    /* width: 100%; */
    text-align: center;
}


 @media only screen  and (min-width : 300px){

    
    header, #ouiMe, #contactMe{
        width: 95%;
        margin-left: 2.5%;
        z-index: 11;
    }
    h1{
        font-size: 2.5em;
        color: black;
    }
    h2{
        font-size: 2.2em;
        margin-top: 0em;
    }
    nav{
        display: flex;
        height: 10em;
        padding-right: 0.49em;
    }
    .downer{
        opacity: 0.9;
        height: 1em;
        width: 100%;
        margin-top: 0.1em;
        padding: 0.2em;
    }
    .downer a{
        opacity: 0.45;
        color: var(--icon);
        font-size: 0.65em;
        margin-right: 0em;
    }
    #downMenu{
        display: flex;
        flex-direction: column;
        background-color: white;
        color: black;
        grid-column: 4/ span 3;
        opacity: 0.9;
        height: 0em;
        
    }
    #downMenuText{
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;
    }
    #downMenuText a{
        text-align: left;
        height: 0;
        opacity: 0;
        margin-top: 0;
    }
    #regular{
        display: none;
    }
    #downMenuText{
        font-size: 0.75em;
    }
    #project{
        z-index: 1;
        width: 95%;
    }
    #project #ouiMe{
        width: 93%;
    }
    article figcaption p{
        font-size: 1.25em;
    }

    article:first-child {
        margin-top: 0%;
    }
    /* article:nth-last-child(2){
    } */
    article:last-child{
        margin-bottom: 10em;;
    }
    article{
        
        height: 65%;
        margin: 0;
        margin-top: 60%;
    }
    article{
       display: block;
    }
    figcaption{
        font-size:  1.25em;
        margin-top: 1.75em;
    }
}
@media only screen  and (min-width : 400px){
    h1{
        font-size: 2.5em;
        margin-left: 0.15em;
       
    }
    #project{
        width: 93%;
        margin-top: -5%;
    }
    h2{
        font-size: 1.9em;
        margin-top: 0.65em;
    }
    .downer a{
        font-size: 0.95em;
        margin-right: 0.1em;
        padding-top: 10em;
    }
}

@media only screen  and (min-width : 500px){
   
    header, #ouiMe, #contactMe{
        width: 92%;
        margin-bottom: 1.2em;

    }
    h1{
        font-size: 2em;
        
    }
    .fa-bars{
        margin-right: 0em;
    }
    .downer a{
        font-size: 0.65em;
        margin-right: -0.75em;
        padding-top: 10em;
    }
    h2{
        width: 100%;
        grid-row: 1/ span 1;
        font-size: 1.3em;
        margin-top: 0em;
        grid-column: 1/ span 6;
    }
    h2:nth-child(odd){
        grid-column: 1/ span 4;
    }
    #downMenu{
        margin-right: 0em;
        
    }
    .dDown{
        font-size: 1.25em;
    }
    nav{
        display: flex;
        height: 10em;
        padding-right: 0em;
    }
    #downMenuText{
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }
    #downMenu{
        /* margin-left: 5em; */
        margin-right: -1em;
    }
    #downMenu a{
        margin-right: 0.5em;
    }
    #downMenuText a{
        
        text-align: left;
        font-size: 1em;
        
    }
   .downer{
        grid-row: 1/ span 1;
        
    }
    .downer a{
        color: var(--icon);
       
        
    }
    #project{
        margin-top: 2%;
    }
    figcaption{
        font-size: 0.9em;
        margin-top: 3em;
    }
    article{
        display: grid;
    }
    article:nth-child(even) h2{
        grid-column: 9/ span 5;
    }
    article:nth-child(odd) figure{
        padding-left: 1em;
    }

}

@media only screen and (min-width: 700px){
    article{
        height: 3%;
    }
    article:first-child{
        margin-top: 2em;
    }
    h1{
        font-size: 3em;
        margin-left: 0em;
    }
    h2{
        font-size: 1.65em;
       
    }

    .downer a{
        font-size: 0.95em;
        /* margin-right: 0.2em; */
    }
   
    /* #downMenuText{
        font-size: 1.5em;
        height: 3em;
        margin-bottom: 3em;
    
    } */
    
}

@media only screen and (min-width: 800px){
    /* body{
        width: 100%;
    } */
    h1{
        font-size: 2.75em;
        margin-left: 0.25em;
    }
    header, #ouiMe, #contactMe{
        margin: 0%;
        margin-left: 4.1em;
        width: 80%;
        text-align: center;
        margin-bottom: -1em;
    }
    #ouiMe, #contactMe{
        margin-top: 2.5%;
    }
    #project{
        width: 80%;
        text-align: center;
    }
    article{
        height: 50%;
        
    }
    figcaption{
        width: 95%;
    }

}
@media only screen and (min-width: 900px){

    header, #ouiMe, #contactMe{
        width: 95%;
        margin-left: 0%;
        
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }

    #project{
        width: 95%;
    }
    article{
        width: 100%;
        height: 20%;
    }
    figcaption{
        font-size: 1.75em;
        width: 100%;
    }
}
@media only screen  and (min-width : 1000px){

    header{
        z-index: 2;
    }
    header, #ouiMe, #contactMe{
        width: 80%;
        margin-left: 4.75em;
       
    }
    #project{
        width: 80%;
    }
    article:first-child{
        margin-top: 10%;
    }
    article:last-child{
        margin-bottom: 75%
    }
    article{
        height: 17.5%;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 2em;
    }
    #regular{
        display: flex;
        grid-row: 1/ span 1;
    }
    .downer{
        display: none;
    }
    figcaption{
        font-size: 1.2em;
    }
}
    @media only screen  and (min-width : 1100px) {
        
        header, #ouiMe, #contactMe{
            margin-left: 5.75em;
        }
        h1{
            font-size: 4em;
        }
        h2{
            font-size: 2.5em;
        }
        nav{
            font-size: 2em;
        }
        figcaption{
            font-size: 1.5em;
        }
        article{
            height: 10%;
        }
        article:first-child{
            margin-top: 7%;
        }
    }

    @media only screen  and (min-width : 1200px) {
        header, #ouiMe, #contactMe{
            margin-left: 6.25em;
        }
        h1{
            font-size: 5em;
        }
        h2{
            font-size: 3em;
        }
        figcaption{
            font-size: 1.75em;
        }
        nav{
            font-size: 2.5em;
        }
    }
    @media only screen  and (min-width : 1300px) {
        header, #ouiMe, #contactMe{
            margin-left: 7.25em;
        }
    }
    @media only screen  and (min-width : 1500px) {
        header, #ouiMe, #contactMe{
            margin-left: 8em;
        }
        h1{
            font-size: 6em;
        }
        nav{
            font-size: 2.75em;
        }
        article:first-child{
            margin-top: 10%;
        }

    }  
    @media only screen  and (min-width : 1600px) {
        figcaption{
            font-size: 2em;
        }
        
    } 
    @media only screen  and (min-width : 1700px) {
        h1{
            font-size: 6.25em;
        }
        h2{
            font-size: 3.5em;
        }
        nav{
            font-size: 3.25em;
        }

    }
    @media only screen  and (min-width : 1900px) {
        header, #ouiMe, #contactMe{
            margin-left: 9.25em;
        }
    }

    /* TRYING TO GET RID OF BLUE FLASH ON LINK PUSH! */

    *:link{
        text-decoration: none;
        /* color: white;
        background-color: white; */
    }
    *:visited{
        text-decoration: none;
        /* color: white;
        background-color: white; */
    }
    
    *:hover{
        text-decoration: none;
        border-width: 0px;

        /* color: white;
        background-color: white; */
    }
    *:active{
        text-decoration: none;
        border-width: 0px;
        /* color: white;
        background-color: white; */
    }

    form:focus{
        text-decoration: none;
        /* color: white;
        background-color: white; */
        /* background-color: pink; */
        border-style: solid;
        border-color: yellow;
        background-color: white;
        border-width: 0.25em;
    }


    :target{
        background-color: pink;
        text-decoration: none;
        text-emphasis: none;
    }

    /* QUERIES FOR GRID/ MENU */

    @media only screen  and (min-width : 300px){
        #content{
            display: grid;
            width: 96%;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0.1em;
            
        }
        article{
            text-align: center;

        }
    }
    @media only screen and (min-width: 500px){
        #content{
            grid-template-columns: repeat(4, 1fr);


        }
    }
    @media only screen and (min-width: 800px){
        #content{
            grid-template-columns: repeat(6, 1fr);
            width: 82%;
            margin-top: 2em;
        }
    }




