:root{
    --squareWidth: 0;
    --mainWidth: 0;
    --icon: rgb(66, 94, 104);
    --iconBar: rgb(228, 235, 237, 0.85);
    --productHeight: 0;
    --fontStylee: 'DM Mono', monospace;
}
body{
    /* color: white; */
    text-align: center;
    /* overflow: scroll; */
    margin: auto;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 1em;
    scroll-snap-type: y mandatory;


}
/* javascript is helping keep the grid- and so the squares on proportion on resizing */
/* it changes the css variable holding the  contents width as the screen size changes*/


#content{
    display: grid;
    width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    /* background-color: white; */
    text-align: center;
    z-index: 4000;
    /* scroll-snap-type: x proximity; */
    /* overflow-y: scroll; */
}
header{
    position: sticky;
    top: 0;
    z-index: 9000;
    height: 10%;
    width: 75%;
    margin: 0 auto;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* position: absolute; */
    /* grid-column: 1/ span 6; */
    vertical-align: text-bottom;
    /* opacity: 0; */
    
}


h1{
    color: black;
    font-size: 2.5em;
    grid-column: 1/ span 3;
    margin: 0em;
    text-align: left;
    font-family: var(--fontStylee);
}

    h2{
        font-family: var(--fontStylee);
        margin-bottom: 0.5em;
        text-align: left;
        /* display: none; */
    }

/* the navigation menu has a dropdown and a block version (do we really need both?) */
#regular{
    margin-top: 0.4em;
}
nav{
    font-family: var(--fontStylee);
    font-size: 2em;
    text-align: end;
    /* padding-top: 2.5%; */
    padding-right: 0.75em;
    text-decoration: none;
    z-index: 8000;
}
nav a{
    text-decoration: none;
    color: black;
}
#downMenu{
    display: none;
    z-index: 9999;
}
#regular{
    display: flex;
    flex-direction: row;
    grid-auto-flow: row;
    grid-column-end: 7;
    text-align: end;
}
#regular a{
    margin-left: 1em;
}
/* the yellow squares are controlling the size of the grid (draw again with flex!) */
.yellowSquare{
    padding: 0;
    border: none;
    margin: 0;
    height: var(--squareWidth);
    width: 100%;
    /* background-color: white; */
    text-align: center;
    align-content: center;
    z-index: 9000;
}
.backGround{
    width: 0%;
    background-color: rgb(240, 214, 50);
    border: none;
    margin: auto;
    overflow: hidden;
}

.yellowSquare img{
    height: 100%;
    width: 100%;
    opacity: 0;
} 
#project{
    /* display: grid; */
    /* width: 75%; */
    margin: 0 auto;
    grid-gap: 1em;
    /* background-color: white; */
    text-align: center;
    /* overflow-y: scroll; */
    /* margin-top: 15%; */
}
article{
    display: grid;
    /* height: 100%; */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    scroll-snap-align: center;
}
article figure{
    grid-column: 1/ span 8;
    grid-row: 1/ span 1;
    margin: 0;
    margin-right: 0.5em;
    /* overflow: hidden; */
    width: 100%;
}

article figure img{
    width: 100%;
    overflow: hidden;
}
article figcaption{
    grid-column: 9/ span 4;
    grid-row: 2/ span 1;
    
}
article:nth-child(odd) figure{
    grid-column: 5/ span 8;
    grid-row: 1/ span 1;
    margin-right: 1em;
    
}
article:nth-child(odd) figcaption{
    grid-column: 1/ span 4;
    grid-row: 1/ span 1;
   
}
article:nth-child(even) figure{
    grid-column: 1/ span 8;
    grid-row: 1/ span 1;
    margin: 0;
}
article:nth-child(even) figcaption{
    grid-column: 9/ span 4;
    grid-row: 1/ span 1;
    margin-left: 1em;

}
article:nth-child(even) h2{
    margin-left: 0.75em;
}
article figcaption p{
    color: black;
    /* font-size: 1em; */
    margin: 0em;
    text-align: left;
    font-family: var(--fontStylee);
}
/* we deleted some 'row' bits from here- check git if we need them*/


/* ABOUT PAGE STYLEES */

/* #ouiMe{
    font-size: 3em;
    width: 75%;
    margin-left: 12.5%;
    text-align: left;
    margin-top: 0em;
 }
 #ouiMe figcaption{
     margin-top: 1em;
     color: pink;
     grid-column: 1/ span 9;
 }
 #ouiMe figcaption p{
     color: pink;
     font-size: 0.75em;
 }
 @media only screen  and (max-width : 800px){
     #ouiMe figcaption{
         grid-column: 1/ span 10;

         grid-row: 1/ span 1;
     }
     #ouiMe figcaption p{
         color: pink;
         font-size: 0.65em;
         grid-row: 1/ span 1;
     }
 }
 @media only screen  and (max-width : 500px){
     #ouiMe figcaption{
         color: pink;
         font-size: 0.45em;
     }
     #ouiMe figcaption p{
         color: pink;
         font-size: 1em;
     }
 } */

